.DS_Store
*.aux
src/Release/
*.dvi
*.toc
doc/manual_en.log
doc/manual_ja.log
src/fermisurfer
src/fermisurfer.sdf
src/fermisurfer.sln
src/fermisurfer.v12.suo
src/fermisurfer.vcxproj
src/fermisurfer.vcxproj.filters
doc/doxygen/
doc/manual_en.pdf
doc/manual_ja.pdf
*.opensdf
