src/fermisurfer
src/bxsf2frmsf
*.o
autom4te.cache/
windows/
src/.deps/
config.log
config.status
config.h
stamp-h1
/Makefile
src/Makefile
bin/
.vs/
x64/
fermisurfer.aps
fermisurfer.vcxproj.user
Release/
fermisurfer_web.vcxproj.user

