.DS_Store
*.aux
src/Release/
*.dvi
*.toc
doc/manual_en.log
doc/manual_ja.log
src/fermisurfer
src/fermisurfer.sdf
src/fermisurfer.sln
src/fermisurfer.v12.suo
src/fermisurfer.vcxproj
src/fermisurfer.vcxproj.filters
doc/doxygen/
doc/manual_en.pdf
doc/manual_ja.pdf
*.opensdf
src/fermisurfer.vcxproj.user
ConsoleApplication1/
src/bxsf2frmsf
*.ico
*.suo
*.opendb
*.db
*.aps
*.rc
*.dll
src/resource.h
doc/ja/_build/
doc/en/_build/
*.o
doc/html/
autom4te.cache/
